<!-- template for new recipes -->
<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="../styles/style.css">
    </head>
    <body>
        <header>
            <a href="./../index.html" class="menu-button button">Return to Recipes</a>
            <a href="" class="next-button button">Next Recipe</a>
        </header>
        <main>
            <div>
                <h1 class="recipe-title"></h1>
                <section class="description-container">
                    <div class="recipe-image">
                        <img src="" alt="">
                    </div>
                    <div class="info-container">
                        <h2>Description</h2>
                        <p></p>
                    </div>
                </section>
            </div>
            <div class="recipe">
                <section class="ingredients">
                    <h2>Ingredients</h2>
                    <ul>
                        <li></li>
                    </ul>
                </section>
                <section class="instructions">
                    <h2>Steps</h2>
                    <ol>
                        <li></li>
                    </ol>
                </section>
            </div>
        </main>
    </body>
</html>