:root {
    --text: #0a130d;
    --background: #f8fbf9;
    --primary: #5aa974;
    --secondary: #f8ce967d;
    --accent: #b890b6;
}

* {
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
}

body {
    background-color: var(--background);
    color: var(--text);
    padding: .5% 3% 2.5% 3%;
    margin: 0;
}

h1,
h2,
h3 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: var(--primary);
    margin: 0;
}

h1,
.menu-info,
nav li {
    text-align: center;
}

a {
    text-decoration: none;
    color: var(--primary);
}

/* a:active, */
a:hover {
    color: var(--accent);
}

a:active {
    color: var(--secondary);
}

img {
    display: block;
    margin: 0 auto;
    height: auto;
    width: 300px;
}

nav li {
    list-style: none;
}

nav > ul {
    padding: 0;
}

div li {
    text-transform: lowercase;
}

/* menu page */
.menu-title {
    margin: 2% 0;
}

.directory {
    padding: 20px 25px;
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    flex-wrap: wrap;
}

.card {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: var(--secondary);
    height: 100px;
    border-radius: 25px;
    flex: 1 1 331px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.card > li {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 24px;
}

/* recipe page */
/* header & buttons */
header {
    margin: 2% 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;    
}

.button {
    background-color: var(--secondary);
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 10px;
    text-align: center;
}

.next-button {
    align-self: stretch;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* recipe page main */
main {
    padding: 0 3%;
}

/* description box */
.recipe-title {
    margin-top: 1%;
    margin-bottom: 4%;
}

.description-container {
    display: flex;
    gap: 5%;
}

.recipe-image {
    flex: 1 1 0;
    padding-bottom: 3%;
}

/* recipe box */
.recipe {
    display: flex;
    flex-direction: row;
    gap: 5%;
}

.ingredients,
.instructions {
    flex-grow: 1;
    flex-basis: 50%;;
}

/* media queries */
@media (max-width: 768px) {
    .button {
        flex: 1 0 47.5%;
    }

    .description-container,
    .recipe {
        flex-wrap: wrap;
    }

    .ingredients,
    .instructions {
        margin-top: 4%;
    }
}